.uhr-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 180px;
  height: auto;
  top: 2px;
}

.uhr-container h5 {
  color: white;
}

.next-day-button {
  position: absolute;
  z-index: 30;
  top: 7px;
}

.uhr-drehscheibe {
  position: absolute;
  width: 146px;
  height: 146px;
  background-image: url(/src/assets/images/uhr-drehscheibe.gif);
  z-index: 1;
  top: -5px;
}

.next-day {
  position: absolute;
  width: 172px;
  height: 148px;
  background-image: url(/src/assets/images/uhr-rahmen.gif);
  z-index: 20;
  top: -2px;
}

.deg45 {
  transform: rotateZ(0deg);
  animation: rotate 2s linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(270deg);
  }
  /* 50% {
    transform: rotateZ(360deg);
  } */
  99.999999% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: 100% rotateZ(0deg);
  }
}

.deg135 {
  transform: rotateZ(90deg);
  animation: rotate135 2s linear;
}

@keyframes rotate135 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(90deg);
  }
}

.deg225 {
  transform: rotateZ(180deg);
  animation: rotate225 2s linear;
}

@keyframes rotate225 {
  0% {
    transform: rotateZ(90deg);
  }

  100% {
    transform: rotateZ(180deg);
  }
}

.deg315 {
  transform: rotateZ(270deg);
  animation: rotate315 2s linear;
}

@keyframes rotate315 {
  0% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(270deg);
  }
}
