.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  width: 100vw;
  height: 100vh;
  background-color: #444;
}

.middlecontent-container {
  height: 95%;
  width: 60%;
  background-color: rgb(87, 85, 85);
}