.topbar-container {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: #cccccc;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background-color: blue;
}

.item {
  align-self: flex-start;
}