button {
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

.button.blue {
  /* hide button default stuff */
  border-style: solid;
  border-image-source: url("/src/assets/images/button/button-blue-02.gif");
  border-image-repeat: repeat;
  border-image-slice: 10 10 10 10;
  border-image-width: 10px;
  border-width: 10px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/src/assets/images/button/button-blue-middle.gif") repeat repeat;
  /* background-color: #ebcdc3; */
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  color: white;
  padding: 5px 10px;
}

/* .button.blue:before {
  white-space: nowrap;
  display: inline-block;
  content: "";
  width: 21px;
  display: block;
  height: 100%;
  background: transparent url("/src/assets/images/button/button-blue-left.gif") no-repeat right
    center;
  background-size: 100% 100%;
  margin: 0 0 0 0;
  left: 0px;
  float: left;
  margin-left: -21px;
}

.button.blue:after {
  white-space: nowrap;
  display: block;
  content: "";
  width: 21px;
  height: 100%;
  background: transparent url("/src/assets/images/button/button-blue-right.gif") no-repeat left
    center;
  background-size: 100% 100%;
  margin: 0 0 0 0;
  right: 0px;
  float: right;
  margin-right: -21px;
} */
