button {
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
  filter: grayscale();
  opacity: 0.3;
}

button:focus {
  filter:brightness();
}

.button.blue {
  /* hide button default stuff */
  border-style: solid;
  border-image-source: url("/src/assets/images/button/button-blue-02.gif");
  border-image-repeat: repeat;
  border-image-slice: 10 10 10 10;
  border-image-width: 10px;
  border-width: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/src/assets/images/button/button-blue-middle.gif") repeat repeat;
  /* background-color: #ebcdc3; */
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  color: white;
  padding: 5px 10px;
}

.button.green {
  /* hide button default stuff */
  border-style: solid;
  border-image-source: url("/src/assets/images/button/button-green.gif");
  border-image-repeat: repeat;
  border-image-slice: 14 14 14 14;
  border-image-width: 14px;
  border-width: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/src/assets/images/button/button-middle-green.gif") repeat repeat;
  /* background-color: #ebcdc3; */
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  color: white;
  padding: 5px 10px;
}

.button.red {
  /* hide button default stuff */
  border-style: solid;
  border-image-source: url("/src/assets/images/button/button-red.gif");
  border-image-repeat: repeat;
  border-image-slice: 14 14 14 14;
  border-image-width: 14px;
  border-width: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/src/assets/images/button/button-middle-red.gif") repeat repeat;
  /* background-color: #ebcdc3; */
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  color: white;
  padding: 5px 10px;
}

.button.black {
  /* hide button default stuff */
  border-style: solid;
  border-image-source: url("/src/assets/images/button/button-black.gif");
  border-image-repeat: repeat;
  border-image-slice: 14 14 14 14;
  border-image-width: 14px;
  border-width: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/src/assets/images/button/button-middle-black.gif") repeat repeat;
  /* background-color: #ebcdc3; */
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  color: white;
  padding: 5px 10px;
}

.button.orange {
  /* hide button default stuff */
  border-style: solid;
  border-image-source: url("/src/assets/images/button/button-orange.gif");
  border-image-repeat: repeat;
  border-image-slice: 14 14 14 14;
  border-image-width: 14px;
  border-width: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/src/assets/images/button/button-middle-orange.gif") repeat repeat;
  /* background-color: #ebcdc3; */
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  color: white;
  padding: 5px 10px;
}
